@font-face {
  font-family: "Raleway", sans-serif;
  src: url(../font/Raleway-Light.ttf);
}

html,
body {
  height: 100%;
}

body {
  font-family: "Raleway", sans-serif;
}

/*--MENU-HEADER--*/
.menu-header {
  background-color: #f6f6f6;
}

.menu-header .navbar-collapse li {
  margin: 0px 15px;
}

.menu-header .navbar-collapse .nav-item .nav-link {
  color: #161d6f;
}

.menu-header .navbar-collapse .nav-item:not(.active):hover .nav-link {
  color: #23689b;
}

.menu-header .navbar-collapse .nav-item.active .nav-link {
  border: 1px solid #161d6f;
  border-radius: 5px;
}

/*--FOOTER--*/
.footer {
  background-color: #161d6f;
}

.footer .navbar-collapse li {
  margin: 0px 15px;
}

.footer .navbar-collapse .nav-item .nav-link {
  color: #f6f6f6;
}

.footer .navbar-collapse .nav-item:hover .nav-link {
  color: #c7ffd8;
}

/*--DEFAULT--*/
.margin-header {
  margin-top: 40px;
}

/*--BUTTONS--*/
.btn-jumb.btn-primary {
  color: #161d6f;
  border-color: #c7ffd8;
  background-color: #c7ffd8;
}

.btn-jumb.btn-primary:hover {
  background-color: #92ffb3;
}

.btn-jumb.btn-light {
  color: #161d6f;
}

.btn-info {
  background-color: #ff9b00;
  border-color: #ff9b00;
}

.btn-info:hover {
  background-color: #d07f00;
  border-color: #d07f00;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.login-screen .nav-pills .nav-link.active,
.login-screen .nav-pills .show > .nav-link {
  color: #161d6f;
  background-color: #c7ffd8;
}

.login-screen .nav-pills .nav-link:not(.active){
  color: #f6f6f6;
}

.login-screen #c_emailhelp{
  color: #c7ffd8;
}

.blue-color{
  color: #161d6f;
}
