/*-JUMBOTRON-INDEX*/
.index-jumb {
  background-image: url("../img/jumb-background.jpg");
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  color: #f6f6f6;
}

.index-jumb .jumb-tittle {
  font-size: 42px;
  font-family: 'Londrina Shadow';
  text-transform: uppercase;
}

.index-jumb .jumb-sub {
  font-size: 18px;
}

.layout-img {
  border-radius: 5px;
  box-shadow: 10px 10px #f6f6f6;
}
