@font-face {
  font-family: "Anton", sans-serif;
  src: url(../font/Anton-Regular.ttf);
}

/*-JUMBOTRON-INDEX*/
.index-jumb {
  background-image: url("../img/jumb-background.jpg");
  background-size: cover;
  background-position: right;
  background-attachment: fixed;
  color: #f6f6f6;
}

.index-jumb .jumb-tittle {
  font-size: 42px;
  color: #f6f6f6;
  font-weight: 800;
  text-transform: uppercase;
  text-shadow: 2px 2px #161d6f;
}

.index-jumb .jumb-sub {
  font-size: 18px;
}

.layout-img {
  width: 300px;
}

/*--LINK--*/
.shortcut-link .nav-item {
  margin: 0px 25px;
}

.shortcut-link .nav-item .nav-link {
  color: #161d6f;
  text-decoration: underline;
}

.shortcut-link .nav-item .nav-link:hover {
  color: #23689b;
}

.links {
  margin-top: 50px;
  margin-bottom: 70px;
  color: #161d6f;
}

.links h2 {
  color: #161d6f;
  text-transform: uppercase;
  font-weight: 600;
  text-shadow: 2px 2px #c7ffd8;
}

.links label {
  font-size: 20px;
  padding-left: 10px;
}

.links img {
  width: 250px;
}

.links .link-item {
  margin: 60px 0px;
}

/*--SEARCH-JUMB--*/
.search-jumb {
  background-color: #161d6f;
  color: #f6f6f6;
}

/*--CATEGORIA--*/
.categ-section h3 {
  color: #161d6f;
}

.categ-section .card{
  border: none;
  height: 420px;
}

.categ-section .card .card-body{
  border: 1px solid #161d6f;
  border-radius: 5px;
}

.categ-section .card img{
  width: 200px;
}

/*--CURSO-INFO--*/
.curso-info h3{
  color: #161d6f;
  display: inline-block;
}

.curso-info img{
  width: 20px;
}

.curso-info iframe{
  border-radius: 5px;
}

.curso-info .curso-detalhes{
  font-size: 18px;
}

.curso-info .curso-prop{
  font-size: 14px;
  display: list-item;
}

.curso-info .curso-prop li{
  margin: 0px 15px;
}

.curso-info .descricao{
  border: 1px solid #161d6f;
  border-radius: 5px;
  padding: 20px;
  max-height: 350px;
  overflow: auto;
}