body {
    background-color: #0f3067;
}

.mt-card-login {
    margin-top: 6rem;
}

.card {
    border-top: 0px;
    background-color: #E7E7DE;
}

.text-center {
    text-align: center;
}

.nav-tabs .nav-item {
    margin-bottom: -4px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #212121;
    background-color: #E7E7DE;
}

.btn {
    text-transform: uppercase;
}

.nav-item a {
    color: #EEEEEE;
    font-size: 20px;
    padding: 12px;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs .nav-link {
    border-radius: .25rem;
}

.nav-tabs .nav-link:hover {
    border-color: #E7E7DE;
}