.link-color {
    color: #008891;
}

.bg-nav {
    background-color: #008891;
}

.menu ul li {
    margin: 2px 5px 2px 5px;
}

.menu .nav-item a {
    color: #EEEEEE;
    transition: 0.3s ease-in;
}

.menu .nav-item a.active {
    color: #EEEEEE;
}

.menu .nav-item a:hover:not(.active) {
    color: #212121;
}